<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Bug Helsing - bug tracker">
    <meta name="author" content="KORCHI Oussama">
    <meta name="keywords" content="au theme template">
    <!-- Title Page-->
    <title>@ViewData["Title"] - BugTracker</title>
    <!-- Fontfaces CSS-->
    <link href="/css/css/font-face.css" rel="stylesheet" media="all">
    <link href="/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
    <link rel="stylesheet" type="text/css" href="~/css/css/bootstrap-datetimepicker.min.css" />

    <!-- /vendor CSS-->
    <link href="/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/css/css/theme.css" rel="stylesheet" media="all">

    <!-- Jquery JS-->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Kanban Start-->
    <!-- Compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" /> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- Compiled and minified JavaScript -->
    <!-- //stackoverflow.com/questions/2895894/jquery-ui-draggable-is-not-a-function -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!--Kanban End-->


</head>
<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="/">
                            <img src="/images/icon/logo.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Home
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Projects" asp-action="Index"><i class="fa-solid fa-industry"></i>Home Page</a>
                                </li>
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Projects" asp-action="Index"><i class="fa-solid fa-industry"></i>Dashboard</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Projects" asp-action="Index"><i class="fa-solid fa-industry"></i>Projects</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Projects" asp-action="Index"><i class="fa-solid fa-industry"></i>Tickets</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Projects" asp-action="Index"><i class="fa-solid fa-industry"></i>Ticket Details</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Projects" asp-action="Index"><i class="fa-solid fa-industry"></i>Calendar</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>Support
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Projects" asp-action="Index"><i class="fa-solid fa-industry"></i>Documentation</a>
                                </li>
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Projects" asp-action="Index"><i class="fa-solid fa-industry"></i>Contact</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a class="logo-text" href="/RHome/Dash">
                    <span>Bug</span>
                    <span style="color: #fe6409;">Helsing</span>
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fa-solid fa-bars-progress"></i>Acceuil
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-house" style="color: black;"></i>Page d'accueil</a>
                                </li>
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="RHome" asp-action="Dash"><i class="fas fa-tachometer-alt" style="color: dodgerblue;"></i>Table de bord</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Projects" asp-action="Index"><i class="fa-solid fa-industry" style="color: darkseagreen;"></i>Projets</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fa-solid fa-bug" style="color: #f00;"></i>Bugs
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Tickets" asp-action="Index"><i class="fa-solid fa-triangle-exclamation" style="color: #ffcc00;"></i>Tout</a>
                                </li>
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Ticketdetails" asp-action="Index"><i class="fa-solid fa-receipt" style="color: #007bff;"></i>Bugs details</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fa-solid fa-briefcase" style="color: #a9b3c9;"></i>Taches
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Kanban" asp-action="All"><i class="fa-solid fa-square-poll-vertical" style="color: #23c187;"></i>Kanban</a>
                                </li>
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Kanban" asp-action="AllT"><i class="fa-solid fa-list-check" style="color: #b7d857;"></i>Tables</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Kanban" asp-action="Calendar"><i class="fa-solid fa-calendar" style="color: slategrey;"></i>Calendrier</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy" style="color: brown;"></i>Support
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Documentation"><i class="fa-solid fa-book" style="color: darkblue;"></i>Documentation</a>
                                </li>
                                <li>
                                    <a class="nav-link text-dark" href="mailto:contact@korchi.me"><i class="fa-solid fa-at" style="color: silver;"></i>Contact</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <div class="header-button">
                                <div class="noti-wrap">
                                    <div class="noti__item js-item-menu">
                                        <i class="zmdi zmdi-email"></i>
                                        <span class="quantity">1</span>
                                        <div class="email-dropdown js-dropdown">
                                            <div class="email__title">
                                                <p>You have 3 New Emails</p>
                                            </div>
                                            <div class="email__item">
                                                <div class="image img-cir img-40">
                                                    <img src="/images/icon/avatar-06.jpg" alt="Cynthia Harvey" />
                                                </div>
                                                <div class="content">
                                                    <p>Meeting about new dashboard...</p>
                                                    <span>Cynthia Harvey, 3 min ago</span>
                                                </div>
                                            </div>
                                            <div class="email__item">
                                                <div class="image img-cir img-40">
                                                    <img src="/images/icon/avatar-05.jpg" alt="Cynthia Harvey" />
                                                </div>
                                                <div class="content">
                                                    <p>Meeting about new dashboard...</p>
                                                    <span>Cynthia Harvey, Yesterday</span>
                                                </div>
                                            </div>
                                            <div class="email__item">
                                                <div class="image img-cir img-40">
                                                    <img src="/images/icon/avatar-04.jpg" alt="Cynthia Harvey" />
                                                </div>
                                                <div class="content">
                                                    <p>Meeting about new dashboard...</p>
                                                    <span>Cynthia Harvey, April 12,,2018</span>
                                                </div>
                                            </div>
                                            <div class="email__footer">
                                                <a href="#">See all emails</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <partial name="_LoginPartial" />
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        @RenderBody()
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>&copy; 2022 - BugTracker - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->

        </div>
    </div>


    
    <!-- Bootstrap JS-->
    <script src="~/vendor/bootstrap-4.1/popper.min.js" type="application/json"></script>
    <script src="/vendor/bootstrap-4.1/bootstrap.min.js" type="application/json"></script>
    <!-- /vendor JS  -->
    <script src="/vendor/slick/slick.min.js"></script>
    <script src="/vendor/wow/wow.min.js"></script>
    <script src="/vendor/animsition/animsition.min.js"></script>
    <script src="/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="/vendor/counter-up/jquery.counterup.min.js"></script>
    <script src="/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="/vendor/select2/select2.min.js"></script>
    <script src="https://kit.fontawesome.com/a49394c62b.js" crossorigin="anonymous"></script>
    <!-- Main JS-->
    <script src="/js/main.js"></script>
    <script src="/js/site.js" asp-append-version="true"></script>

    <!--Datatable-->
    <script type="text/javascript">
        $(document).ready(function () {

            var table = $('#table_id').DataTable({
                "dom": '<"top"i>rt<"bottom"><"clear">'
            });

            $('#button-addon1').on('keyup click', function () {
                table.search($('#search').val()).draw();
            });
        });

    </script>
    <script src="//nightly.datatables.net/js/jquery.dataTables.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
