<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BugTracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <style>
        .login,
        .image {
            min-height: 100vh;
        }

        .bg-image {
            background-image: url('../../images/login.png'); /*https://i.ibb.co/RP3WMGt/login-wallpaper.png*/
            background-size: cover;
            background-position: center center;
        }

        .form-control {
            height: 50px !important;
        }

        body {
            margin: 0px !important;
        }

        header {
            display: none;
        }

        .container {
            max-width: 100% !important;
        }
        .row {
            margin: 0;
        }
    </style>
    <div class="row">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image"></div>
        <!-- The login half -->
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    @RenderBody()
                </div>
            </div>
        </div>

    </div>

    <script src="https://kit.fontawesome.com/a49394c62b.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
