@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<div>
    <h4>Change your account settings</h4>
    <hr />
    <div class="row">
        <div class="col-xl-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-xl-9">
            <div class="page-content">
                <div class="recent-report3 m-b-40">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
