@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/elemt.css" data-minify="1" />
<script src="~/elemt.js" data-minify="1" defer=""></script>
<link rel='stylesheet' id='material-icon-css' href='https://fonts.googleapis.com/icon?family=Material+Icons%7CMaterial+Icons+Outlined&amp;ver=1.0.0' type='text/css' media='all' />
<div class="row">
    <div class="col-md-12">
        <div data-elementor-type="wp-post" data-elementor-id="7" class="elementor elementor-7"
             data-elementor-settings="[]">
            <div class="elementor-inner">
                <div class="elementor-section-wrap">
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-3720bea6 elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                             data-id="3720bea6" data-element_type="section"
                             data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}"
                             style="width: 1349px; left: -119.5px;">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-row removeNegativeMargin">
                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-372c257e"
                                     data-id="372c257e" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-50e23c24 elementor-widget elementor-widget-webify-hero-banner-widget"
                                                 data-id="50e23c24" data-element_type="widget"
                                                 data-widget_type="webify-hero-banner-widget.default">
                                                <div class="elementor-widget-container">
                                                    <div class="tb-hero tb-style11 tb-bg tb-flex">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <div class="tb-hero-text text-center">
                                                                        <h1 class="tb-hero-title tb-text-slider tb-white-c tb-f48-lg tb-f35-sm tb-font-name tb-m0">
                                                                            Platform de gestion des bugs
                                                                        </h1>
                                                                        <div class="empty-space marg-lg-b10"></div>
                                                                        <div class="tb-hero-subtitle tb-white-c tb-f18-lg tb-line1-6 tb-mb2">
                                                                            Approche simple, rapide, agile et collaborative pour<br> signaler, suivre et résoudre les problèmes.
                                                                        </div>
                                                                        <div class="empty-space marg-lg-b30"></div>
                                                                        <div class="tb-btn-group tb-hero-btn tb-style1">
                                                                            <a asp-area="" asp-controller="RHome" asp-action="Dash" target="_self" class="tb-btn tb-style4 tb-color1">
                                                                                Start Today
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="empty-space marg-lg-b30 marg-sm-b40">
                                                                    </div>
                                                                    <div class="tb-hero-img tb-style2">
                                                                        <img src="~/mac.png"
                                                                             alt="image">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tb-circle-shape-wrap">
                                                            <div class="tb-circle-shape1"></div>
                                                            <div class="tb-circle-shape2"></div>
                                                            <div class="tb-circle-shape3"></div>
                                                        </div>
                                                        <svg id="tb-svg-wave"><path d="1"></path><path d="0"></path></svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-cade576 elementor-widget elementor-widget-spacer"
                                                 data-id="cade576" data-element_type="widget"
                                                 data-widget_type="spacer.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-spacer">
                                                        <div class="elementor-spacer-inner"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-7ad0c9e1 elementor-widget elementor-widget-webify-section-heading-widget" data-id="7ad0c9e1" data-element_type="widget" data-widget_type="webify-section-heading-widget.default">
                                                <div class="elementor-widget-container">
                                                    <div class="tb-section-heading tb-style4">
                                                        <h2 class="tb-f36-lg tb-f28-sm tb-big-heading tb-font-name tb-mt-9 tb-mb-9 tb-mt-6-sm tb-mb-7-sm">
                                                            Une solution pour chaque besoin
                                                        </h2>
                                                        <div class="empty-space marg-lg-b30"></div>
                                                        <div none="" class="tb-f18-lg tb-mt-5 tb-small-heading tb-mb-4">
                                                            Peu importe le créneau que vous recherchez, Bug Helsing a tout pour plaire.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-e8fcc17 elementor-widget elementor-widget-spacer" data-id="e8fcc17" data-element_type="widget" data-widget_type="spacer.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-spacer">
                                                        <div class="elementor-spacer-inner"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-9500ad4 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                             data-id="9500ad4" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-extended">
                            <div class="elementor-row">
                                <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-9197d13"
                                     data-id="9197d13" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-77a3380 elementor-widget elementor-widget-webify-icon-box-widget animated fadeInLeft"
                                                 data-id="77a3380" data-element_type="widget"
                                                 data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;}"
                                                 data-widget_type="webify-icon-box-widget.default">
                                                <div class="elementor-widget-container">
                                                    <div class="tb-icon-box tb-style4 tb-border text-center">
                                                        <div class="tb-icon tb-f48-lg">
                                                            <i class="material-icons-outlined">phonelink</i>
                                                        </div>
                                                        <div class="empty-space marg-lg-b20"></div>
                                                        <h3 class="tb-iconbox-heading tb-font-name tb-f18-lg  tb-m0">
                                                            Expérience client
                                                        </h3>
                                                        <div class="empty-space marg-lg-b10"></div>
                                                        <div class="tb-description-text tb-mb3">
                                                            One of the world’s leading software design
                                                            systems for everyone.
                                                        </div>
                                                        <div class="empty-space marg-lg-b20 marg-sm-b20"></div> <a href="#" target="_self"
                                                                                                                   class="tb-btn tb-style1">Learn More</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-d8b986e"
                                     data-id="d8b986e" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-3c8d61f elementor-widget elementor-widget-webify-icon-box-widget animated fadeInLeft"
                                                 data-id="3c8d61f" data-element_type="widget"
                                                 data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;}"
                                                 data-widget_type="webify-icon-box-widget.default">
                                                <div class="elementor-widget-container">
                                                    <div class="tb-icon-box tb-style4 tb-border text-center">
                                                        <div class="tb-icon tb-f48-lg"> <i class="material-icons-outlined">archive</i></div>
                                                        <div class="empty-space marg-lg-b20"></div>
                                                        <h3 class="tb-iconbox-heading tb-font-name tb-f18-lg  tb-m0">Mieux UX</h3>
                                                        <div class="empty-space marg-lg-b10"></div>
                                                        <div class="tb-description-text tb-mb3">
                                                            One of the world’s leading software design
                                                            systems for everyone.
                                                        </div>
                                                        <div class="empty-space marg-lg-b20 marg-sm-b20"></div> <a href="#" target="_self"
                                                                                                                   class="tb-btn tb-style1">Learn More</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-bf6c397"
                                     data-id="bf6c397" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-6a5869c elementor-widget elementor-widget-webify-icon-box-widget animated fadeInLeft"
                                                 data-id="6a5869c" data-element_type="widget"
                                                 data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;}"
                                                 data-widget_type="webify-icon-box-widget.default">
                                                <div class="elementor-widget-container">
                                                    <div class="tb-icon-box tb-style4 tb-border text-center">
                                                        <div class="tb-icon tb-f48-lg"> <i class="material-icons-outlined">flip</i></div>
                                                        <div class="empty-space marg-lg-b20"></div>
                                                        <h3 class="tb-iconbox-heading tb-font-name tb-f18-lg  tb-m0">Flexible</h3>
                                                        <div class="empty-space marg-lg-b10"></div>
                                                        <div class="tb-description-text tb-mb3">
                                                            One of the world’s leading software design
                                                            systems for everyone.
                                                        </div>
                                                        <div class="empty-space marg-lg-b20 marg-sm-b20"></div> <a href="#" target="_self"
                                                                                                                   class="tb-btn tb-style1">Learn More</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-a04ef4b"
                                     data-id="a04ef4b" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-13e9ae5 elementor-widget elementor-widget-webify-icon-box-widget animated fadeInRight"
                                                 data-id="13e9ae5" data-element_type="widget"
                                                 data-settings="{&quot;_animation&quot;:&quot;fadeInRight&quot;}"
                                                 data-widget_type="webify-icon-box-widget.default">
                                                <div class="elementor-widget-container">
                                                    <div class="tb-icon-box tb-style4 tb-border text-center">
                                                        <div class="tb-icon tb-f48-lg"> <i class="material-icons-outlined">grid_on</i></div>
                                                        <div class="empty-space marg-lg-b20"></div>
                                                        <h3 class="tb-iconbox-heading tb-font-name tb-f18-lg  tb-m0">Mobile Grid</h3>
                                                        <div class="empty-space marg-lg-b10"></div>
                                                        <div class="tb-description-text tb-mb3">
                                                            One of the world’s leading software design
                                                            systems for everyone.
                                                        </div>
                                                        <div class="empty-space marg-lg-b20 marg-sm-b20"></div> <a href="#" target="_self"
                                                                                                                   class="tb-btn tb-style1">Learn More</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-ac66185 elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                             data-id="ac66185" data-element_type="section"
                             data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 1349px; left: -119.5px;">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-row removeNegativeMargin">
                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-9ea5218"
                                     data-id="9ea5218" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-f227d8a elementor-widget elementor-widget-spacer"
                                                 data-id="f227d8a" data-element_type="widget" data-widget_type="spacer.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-spacer">
                                                        <div class="elementor-spacer-inner"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-6341233 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                             data-id="6341233" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-extended">
                            <div class="elementor-row removeNegativeMargin">
                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b2e56b3"
                                     data-id="b2e56b3" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-fab18e5 elementor-widget elementor-widget-webify-section-heading-widget animated fadeInUp"
                                                 data-id="fab18e5" data-element_type="widget"
                                                 data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                                                 data-widget_type="webify-section-heading-widget.default">
                                                <div class="elementor-widget-container">
                                                    <div class="tb-section-heading tb-style2">
                                                        <h2 class="tb-f36-lg tb-f30-sm tb-font-name tb-big-heading tb-mt-5 tb-mt-3-sm tb-m0">
                                                            Tarification simple pour vous
                                                        </h2>
                                                        <div class="empty-space marg-lg-b10"></div>
                                                        <div none="" class="tb-f18-lg tb-f16-sm tb-line1-6 tb-description tb-mb-7">
                                                            Tout d'abord, voyez comment vos entreprises se comportent aujourd'hui. <br> Alors faites-en plus grâce aux informations de l'équipe Bug Helsing.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-564e483 elementor-widget elementor-widget-spacer"
                                                 data-id="564e483" data-element_type="widget" data-widget_type="spacer.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-spacer">
                                                        <div class="elementor-spacer-inner"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <section class="elementor-section elementor-inner-section elementor-element elementor-element-d1fafef elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                                     data-id="d1fafef" data-element_type="section">
                                                <div class="elementor-container elementor-column-gap-no">
                                                    <div class="elementor-row">
                                                        <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-2573474"
                                                             data-id="2573474" data-element_type="column" style="width:20%;">
                                                            <div class="elementor-column-wrap elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-57d7df3d elementor-widget elementor-widget-webify-pricing-table-widget"
                                                                         data-id="57d7df3d" data-element_type="widget"
                                                                         data-widget_type="webify-pricing-table-widget.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="tb-pricing-card-col tb-pricing-table-style4">
                                                                                <div class="tb-pricing-card-row tb-pricing-heading"></div>
                                                                                <div class="tb-pricing-card-row"></div>
                                                                                <ul class="tb-pricing-feature tb-mp0 ">
                                                                                    <li>JQuery Components</li>
                                                                                    <li>Flexible UI</li>
                                                                                    <li>Bootstrap 4.0</li>
                                                                                    <li>Projects</li>
                                                                                    <li>Design System</li>
                                                                                    <li>Software Updates</li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-ab65e15"
                                                             data-id="ab65e15" data-element_type="column">
                                                            <div class="elementor-column-wrap elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-2764fb3 elementor-widget elementor-widget-webify-pricing-table-widget"
                                                                         data-id="2764fb3" data-element_type="widget"
                                                                         data-widget_type="webify-pricing-table-widget.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="tb-pricing-card-col tb-pricing-table-style3">
                                                                                <div class="tb-pricing-card-row tb-pricing-heading">
                                                                                    Premium
                                                                                </div>
                                                                                <div class="tb-pricing-card-row">
                                                                                    <h3 class="tb-price tb-flex tb-m0">
                                                                                        <i class="tb-price-currency tb-f16-lg">$</i> <span class="tb-f48-lg tb-line1"
                                                                                                                                           style="color: #a4da99;">Gratuit</span>
                                                                                    </h3>
                                                                                    <div class="tb-pricing-card-btn">
                                                                                        <a asp-area="" asp-controller="RHome" asp-action="Dash"
                                                                                           target="_self"
                                                                                           class="tb-btn tb-style3 tb-color17">
                                                                                            Essayez 
                                                                                            maintenant
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                                <ul class="tb-pricing-feature tb-mp0 ">
                                                                                    <li> <i class="fa fa-check"></i></li>
                                                                                    <li> <i class="fa fa-check"></i></li>
                                                                                    <li> <i class="fa fa-check"></i></li>
                                                                                    <li> Unlimited</li>
                                                                                    <li> Exclusive</li>
                                                                                    <li> Limited</li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-ac66185 elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                             data-id="ac66185" data-element_type="section"
                             data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 1349px; left: -119.5px;">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-row removeNegativeMargin">
                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-9ea5218"
                                     data-id="9ea5218" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-f227d8a elementor-widget elementor-widget-spacer"
                                                 data-id="f227d8a" data-element_type="widget" data-widget_type="spacer.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-spacer">
                                                        <div class="elementor-spacer-inner"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
