@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    .navbar-brand {
        font-family: Van Helsing;
        font-size: 40px;
        padding-top: 0.8rem;
    }
</style>

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
