@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<h3>@ViewData["Title"]</h3>
<p>
    Votre mot de passe a été réinitialisé. Veuillez <a asp-page="./Login">cliquer ici pour vous connecter</a>.
</p>
